<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MarketEntities" connectionString="metadata=res://*/Market.csdl|res://*/Market.ssdl|res://*/Market.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=Market;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>